<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>project - list</title>
</head>
<body>
<div>
    <table>
        <caption></caption>
        <thead>
        <tr>
            <th>ID</th>
            <th>Project</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.projectId}"></td>
            <td th:text="${project.projectName}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>