<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main/index}">
<th:block layout:fragment="projectList">
    <div class="d-flex align-items-center flex-shrink-0 p-2 link-body-emphasis text-decoration-none border-bottom">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#projectModal">
            Add +
        </button>

        <!-- Modal -->
        <div class="modal fade" id="projectModal" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="projectModalLabel">Project Add</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <form method="post" th:action="@{/project/register}">
                        <div class="modal-body">

                            <input type="hidden" th:value="${session.user.userId}" name="userId">

                            <div class="mb-3">
                                <label for="projectName-input" class="col-form-label">Project Name :</label>
                                <input type="text" class="form-control" name="projectName"
                                       id="projectName-input"
                                       placeholder="Project Name">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-primary">ADD</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="list-group list-group-flush border-bottom scrollarea"
         style="overflow: scroll;height:100vh;padding: 10px;">
        <a th:href="@{/project/{projectId}(projectId=${projectItem.projectId})}"
           th:classappend="${session.project != null && projectItem.projectId == session.project.projectId} ? 'list-group-item list-group-item-action  py-2 lh-sm active' : 'list-group-item list-group-item-action py-2 lh-sm'"
           aria-current="true"
           th:each="projectItem : ${session.projects}">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1" th:text="${projectItem.projectName}"></strong>
            </div>
        </a>
    </div>
</th:block>
</html>